<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset your password</title>
</head>

<body>

  <h1>Reset your password!</h1>

  <p>Hi <%= userName %>,</p>
  <p>We received a request to reset your password. This link expires in 60 minutes</p>


  <a href="<%= validationLink %>">
    <button
      style="padding: 10px 20px; background-color: #01579B; color: white; border: none; border-radius: 10px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Validate
      Email</button>
  </a>

  <p>If clicking Reset Password doesn't work, copy and paste this link into your browser:</p>
  <a href="<%= validationLink %>">
    <%= validationLink %>
  </a>

  <p>If you did not request to reset your password, you can safely ignore this email</p>

  <p>Best regards,<br> SplitMeet Team</p>

</body>

</html>