<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to SplitMeet</title>
  <style>
    /* Estilos */
    body,
    html {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ccc;
      background-color: #e1f5fe;
      border-radius: 5px;
    }

    h1 {
      color: #01579B;
    }

    p {
      margin-bottom: 15px;
    }

    a.button {
      padding: 10px 20px;
      background-color: #01579B;
      color: white;
      border: none;
      border-radius: 10px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>

<body>


  <div class="container">

  <h1>Welcome to SplitMeet!</h1>

  <p>Hi <%= userName %>,</p>

  <p>We received a request to resend the validation email for your SplitMeet account. This link expires in 60 minutes. To proceed, please click the
    button below:</p>

  <!-- <a href="<%= validationLink %>">
    <button
      style="padding: 10px 20px; background-color: #01579B; color: white; border: none; border-radius: 10px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Validate
      Email</button>
  </a> -->


  <p>If clicking Reset Password doesn't work, copy and paste this link into your browser:</p>
  <a href="<%= validationLink %>" class="button">
    Calidate Email
  </a>


  <p>If you did not request to reset your password, you can safely ignore this email</p>

  <p>Best regards,<br> SplitMeet Team</p>
  </div>
</body>

</html>