<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to SplitMeet</title>
</head>
<body>

  <h1>Welcome to SplitMeet!</h1>

  <p>Hi <%= userName %>,</p>

  <p>Welcome to SplitMeet! To get started, please validate your email by clicking this button</p>

  <a href="<%= validationLink %>">
    <button style="padding: 10px 20px; background-color: #01579B; color: white; border: none; border-radius: 10px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Validate Mail</button>
  </a>
  <p>We're thrilled to have you on board. If you have any questions, feel free to reach out!</p>

  <p>Note: The validation is only available for the next 24 hours.</p>


  <p>Best regards,<br> SplitMeet Team</p>

</body>
</html>
